{% extends "base.html" %}

{% block title %}
Create Post
{% endblock %}

{% block content %}
<body class="text-center">
<div class = "container">
    <form method="POST" class="create-form">
        {{ create_post_form.hidden_tag() }}
        {{ create_post_form.name_post.label() }}
        {{ create_post_form.name_post(class = "form-control") }}

        {{ create_post_form.body.label() }}
        {{ create_post_form.body(class = "form-control") }}
<br>
        {{ create_post_form.submit(class = "btn btn-lg btn-primary btn-block") }}
    </form>


</div>
</body>
{% endblock %}